h2 {
    margin-left: 12px;
    margin-bottom: 0;
    color: #242424;

}

.search-bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.search-bar input {
    padding: 10px 20px 10px 40px;
    font-size: 0.9em;
    width: 21vh;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 12px;
    background: url(../imgs/icon_search_.svg) no-repeat 10px center;
    background-size: 20px;
    background-color: #fff;
}

.order-list table {
    width: 98%;
    background-color: #fff;
    border-radius: 7px;
}

.order-list th,
.order-list td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    color: #666666;
}

[data-label="Total do Pedido"] {
    font-weight: bold;
}

.order-list th {
    background-color: #ffff;
    font-weight: bold;
}

.order-list td img {
    width: 4em;
    height: 65px;
    border-radius: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.order-list td strong {
    display: block;
    color: #000000;
    margin-bottom: 5px;
}

.order-list td span {
    color: #888;
    font-size: 12px;
}

.order-list tbody tr:hover {
    background-color: #fff;
}

.order-list {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.scroll-button {
    width: 80px;
    height: 80px;
    border-radius: 20%;
    background-color: #F8EEEF;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.scroll-button:hover {
    background-color: #fadcdf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scroll-button:active {
    transform: scale(0.95);
}

.scroll-button img {
    width: 45px;
    height: 50px;
}

.container-fluid {
    width: 100%;
}

@media (max-width: 480px) {
    .search-bar input {
        padding: 5px 5px 5px 7px;
        font-size: 0.8em;
        width: auto;
        height: 25px;
    }
}