.conteudo {
    background-color: white;
    border-radius: 0.65vh;
    width: 98%;
    margin: 1.39vh;
    height: 80%;
}

header {
    padding-bottom: 0.93vh;
    border-bottom: 1px solid #ddd;
}

h2 {
    margin-left: 1.39vh;
    margin-bottom: 0.93vh;
    color: #242424;
}

h1 {
    margin-left: 1.39vh;
    margin-bottom: 0.93vh;
    color: #707070;
}

.form-conteudo {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 40px;
    margin-left: 3.75rem;
    background-color: white;
}

.inline {
    display: flex;
    gap: 6.25rem;
}

label {
    display: flex;
    align-items: center;
    margin-top: 8px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
}

.tooltip {
    margin-left: 5px;
    background-color: #9c9c9c;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 10px;
    color: #ffffff;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: white;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    outline: none;
    border-color: red;
    background-color: #fdeaea;
}

input::selection {
    background-color: #fdeaea;
    color: red;
}

select:focus {
    outline: none;
    border-color: red;
    background-color: #fdeaea;

}

input[type="radio"],
input[type="checkbox"] {
    accent-color: red;
}

fieldset {
    border: none;
    margin: 10px 0;
    padding: 0;
    margin-left: 3.75rem;
}

.radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #666;
}

.form-instituicao {
    width: 80%;
}

.form-tipo-conta {
    width: 30%;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
}

.botao-confirmar {
    width: 150px;
    padding: 15px;
    background-color: #ffe0e0;
    border: none;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    margin-left: 35%;
}

.botao-confirmar:hover {
    background-color: #f89b9b;
}

.imagem-canto {
    position: absolute;
    top: 35%;
    left: 70%;
    max-width: 20%;
    align-self: flex;
}

.imagem-canto img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 1024px) {
    .form-footer {
        flex-direction: column;
        align-items: center;
    }

    .imagem-canto {
        max-width: 40%;
    }

    .imagem-canto {
        top: 45%;
        left: 65%;
        max-width: 26%;
    }

    .botao-confirmar {
        margin-left: 10%;
    }

    .inline {
        gap: 2.25rem;
    }

    .conteudo {
        margin: 0;
        height: 90%;
    }

    input[type="text"],
    select {
        width: 110px;
    }

    .form-group {
        margin-bottom: 8px;
    }

}

@media (max-width: 768px) {
    .imagem-canto {
        max-width: 70%;
    }

    .imagem-canto {
        top: 40%;
        left: 60%;
        max-width: 30%;
    }
}

@media (max-width: 540px) {
    .imagem-canto {
        top: 65%;
        left: 52%;
        max-width: 40%;
    }
}

@media (max-width: 480px) {
    .imagem-canto {
        max-width: 90%;
    }

    .imagem-canto {
        top: 55%;
        left: 52%;
        max-width: 40%;
    }
}

@media (max-width: 360px) {
    .imagem-canto {
        max-width: 10%;
    }

    .imagem-canto {
        top: 63%;
        left: 59%;
        max-width: 40%;
    }
}