h2 {
  margin-left: 12px;
  margin-bottom: 0;
  color: #242424;
  font-size: 20px;
  margin-top: 20px;
}

.background_box {
  width: 98%;
  height: 80%;
  background: rgb(255, 255, 255);
  margin-top: 5px;
  margin-left: 10px;
  opacity: 1;
  position: flex;
  top: 127px;
  left: 279px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.button_box {
  background: rgba(226,24,38,0.20000000298023224);
  font-size: 20px;
  margin-top: 50px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: regular;
  height: 35px;
  width: 200px;
  font-size: 15px;
}

.manual_trans {
  color: rgba(226,24,38,1);
  position: flex;
  font-weight: lighter;
  font-size: 14px;
  opacity: 1;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}
.scan_qrcode {
  color: rgb(102, 102, 102) ;
  position: flex;
  font-weight: bolder;
  font-size: 25px;
  opacity: 1;
  text-align: center;
  margin-top: 17px;
  font-family: "Inter", sans-serif;
}
.qrcode {
  width: 225px;
  height: 225px;
  background: url("/CashStock/assets/imgs/ReceberDinheiro.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
