.box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 100px;
        padding-right: 30px;
        padding-left: 30px;
        min-width: 990px;
        max-height: 390px;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 10px;
        margin-left: 30px;
        overflow: visible;
}


main-content {
    flex-grow: 1;
    padding: 20px;
}

main header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main header h1 {
    margin-left: 20px;
    font-size: 20px;
}

main header h2 {
    margin: 0 0 10px 0;
    color: #333;
}



/* conteúdo */
.order-list table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-list th,
.order-list td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.order-list th {
    background-color: #f9f9f9;
    font-weight: bold;
}

.order-list td img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.order-list td strong {
    display: block;
    color: #000000;
    margin-bottom: 5px;
}

.order-list td span {
    color: #888;
    font-size: 12px;
}

.order-list tbody tr:hover {
    background-color: #f1f1f1;
}

/* Estilos da section e botão */
.order-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza horizontalmente */
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.scroll-button {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

/* Efeito ao passar o mouse */
.scroll-button:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Efeito ao clicar */
.scroll-button:active {
    transform: scale(0.95);
}

.container-fluid {
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        border-right: 1px solid #ddd;
        border-bottom: none;
        height: 100vh;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .search-bar input {
        width: 20vh;
    }

    .head-right {
        width: auto;
    }
}

@media (max-width: 767px) {

    .order-list table,
    .order-list thead,
    .order-list tbody,
    .order-list th,
    .order-list td,
    .order-list tr {
        display: block;
    }

    .order-list thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .order-list tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        
    }

    .order-list td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .order-list td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        font-weight: bold;
    }
}