@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    background-color: #f3f3f3;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    min-height: 5.46vh;
    background-color: #fff;
}

nav {
    max-height: 100%;
    background-color: #fff;
}

main {
    min-height: 94.54vh;
    overflow: visible
}

.head-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    height: 1.71em;
    margin-left: 16px;
}

.logo .img{
    height: 100%;
}

.p-central{
    margin: 0;
    margin-left: 16px;
    font-weight: 600;
}

.head-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    height: 1.714em;
    margin-left: 4px;
    margin-right: 4px;
}

.menu .img{
    height: 100%;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-block{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.nav .dropdown{
    border: none;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
}

.nav .dropdown:hover{
    background-color: #f3f3f3;
    border-radius: 5px;
}

.nav-content{
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown:hover .nav-content{
    display: flex;
}

.nav-content a {
    color: #666666;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
    padding: 15px;
}

.nav-content a:hover {
    color: #E21826;
    background-color: #fff6f6;
    font-weight: bold;
    height: auto;
}

.nav-header{
    display: flex;
    align-items: center;
}

.nav-header img{
    height: 75%;
}

.nav-title{
    color: #E21826;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-left: 6px;
}

@media (min-width: 768px) {
    
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    nav {
        min-height: 94.54vh;
        max-height: 100%;
        background-color: #fff;
    }

    .nav-content{
    display: flex;
    }

    main {
        overflow: auto;
        max-height: 94.54vh;
    }

}

@media (max-width: 860px) {
    
    .nav-content a {
        font-size: 13px;
    }

}