main {
    display: flex;
    justify-content: center;
}

.div-dashboard {
    width: 95%;
    margin:auto;
    margin-top: 32px;
}

.menu-dashboard {
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.menu-dashboard .btn-menu{
    background-color: rgba(226, 24, 38, 10%);
    color: #797979;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-decoration: none;
    padding: 8px;
}

.menu-dashboard .selected {
    background-color: #fff;
    color: #E21826;
}

.dashboard {
    background-color: #fff;
    border-top-right-radius: 15px;
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
}

.div-letreiro {
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 10px;
}

.letreiro{
    border: #666666 solid 1px;
    border-top: #D00000 solid 1px;
    display: flex;
    flex-direction: column;
    min-width: 10vw;
}

.letreiro p {
    font-size: 16px;
    margin: 4px;
    text-align: center;
}

.letreiro-head{
    display: flex;
    flex-direction: row;
}

.letreiro-head p{
    color: #666666;
    font-size: 12px;
}
