@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    background-color: #f3f3f3;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    min-height: 5.46vh;
    background-color: #fff;
}

nav {
    max-height: 100%;
    background-color: #fff;
}

main {
    min-height: 94.54vh;
    overflow: visible
}

.head-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    height: 1.71em;
    margin-left: 16px;
}

.logo .img {
    height: 100%;
}

.p-central {
    margin: 0;
    margin-left: 16px;
    font-weight: 600;
}

.head-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    height: 1.714em;
    margin-left: 4px;
    margin-right: 4px;
}

.menu .img {
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-block {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.nav .dropdown {
    border: none;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
}

.nav .dropdown:hover {
    background-color: #f3f3f3;
    border-radius: 5px;
}

.nav-content {
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown:hover .nav-content {
    display: flex;
}

.nav-content a {
    color: #666666;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    padding: 15px;
    border-radius: 5px;
}

.nav-content a.active,
.nav-content a:hover {
    background-color: #f8f8f8;
    color: #e21826;
    font-weight: bold;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-header img {
    height: 75%;
}

.nav-title {
    color: #E21826;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-left: 6px;
}


.main {
    flex-grow: 1;
    padding: 20px;
}

.content h2 {
    font-size: 1.3em;
    margin-left: 20px;
}

.search-bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 20px;
}

.search-bar input {
    padding: 10px;
    width: calc(44% - 20px);
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
}

.order-list table {
    width: 97%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-list th,
.order-list td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    color: #5f5f5f;

}

.order-list th {
    background-color: #ffff;
    font-weight: bold;
}

.order-list td img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 10px;
}

.order-list td strong {
    display: block;
    color: #000000;
    margin-bottom: 5px;
}

.order-list td span {
    color: #888;
    font-size: 12px;
}

.order-list tbody tr:hover {
    background-color: #fff;
}

/* Estilos da section e botão */
.order-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza horizontalmente */
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Espaçamento opcional acima do botão */
}

.scroll-button {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

/* Efeito ao passar o mouse */
.scroll-button:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Efeito ao clicar */
.scroll-button:active {
    transform: scale(0.95);
}



@media (min-width: 768px) {

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    nav {
        min-height: 94.54vh;
        max-height: 100%;
        background-color: #fff;
    }

    .nav-content {
        display: flex;
    }

    main {
        overflow: auto;
        max-height: 94.54vh;
    }

}

@media (max-width: 860px) {

    .nav-content a {
        font-size: 13px;
    }

}