main {
    display: flex;
    justify-content: center;
}

.div-dashboard {
    width: 95%;
    margin:auto;
    margin-top: 32px;
}

.menu-dashboard {
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.menu-dashboard .btn-menu{
    background-color: rgba(226, 24, 38, 10%);
    color: #797979;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-decoration: none;
    padding: 8px;
}

.menu-dashboard .selected {
    background-color: #fff;
    color: #E21826;
}

.dashboard {
    background-color: #fff;
}