.formulario-pesquisa {
    display: flex;
    flex-direction: row;
}

.dados-box{
    border: #666666 solid 1px;
    margin: 3px;
    padding: 2px;
    padding-top: 1px;
    border-radius: 5px;
}

.dados-box label{
    color: #666666;
    font-size: 14px;
}

.dados-box img{
    width: 10px;
}

.dados-box input{
    border: none;
    width: 145px;
}

.dados-box button{
    background-color: transparent;
    border: none;
}

.grafico{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.grafico img{
    width: 60vmax;
    height: 60vh;
}