h2 {
    padding-left: 25px;
}

.main {
    background-color: #fff;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 350px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.titles{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 15vw;
}

.titles h3{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666666;
    border-bottom: 1px solid #666666;
}

.pedido{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15vw;
    align-items: center;
    background-color: #e218251f;
    border-radius: 20px;
}

.pedido p{
    text-align: center;
    color: #666666;
}

.pedido button{
    border: none;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.pedido img{
    width: 2.5vw;
}

/* .butao {
    display: flex;
    justify-content: center;
    margin-top: 20px;
} */

.botao {
    width: 80px;
    height: 80px;
    border-radius: 20%;
    background-color: #F8EEEF;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.botao:hover {
    background-color: #fadcdf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.botao:active {
    transform: scale(0.95);
}

.botao img {
    width: 45px;
    height: 50px;
    align-items: center;
}

.search-bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.search-bar input {
    padding: 10px 20px 10px 40px;
    font-size: 0.9em;
    width: 21vh;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 12px;
    background: url(../imgs/icon_search_.svg) no-repeat 10px center;
    background-size: 20px;
    background-color: #fff;
}

@media (max-width: 660px) { 
    .cards{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .titles{
        width: 80vw;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .pedido{
        width: 80vw;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .pedido img{
        width: 7vw;
    }

    .botao{
        width: 16vw;
        height: 16vmax;  
    }

    .botao img{
        width: 10vw;
        height: 10vmax;
    }
}

